<div class="gamefield-container">
    <h1>2048</h1>
    <div class="gamefield"
         *ngFor="let row of gamefield$ | async">
        <ng-container *ngFor="let stone of row">
            <ng-container *ngIf="stone.value > 0; else emptyStone">
                <div class="block"
                     [ngSwitch]="stone.animation"
                     [style.backgroundColor]="colors[stone.value]">

                    <div *ngSwitchCase="animation.spawning"
                         [@fadeInOnEnter]>
                        {{ stone.value }}
                    </div>
                    <div *ngSwitchCase="animation.merged"
                         [@pulseOnEnter]>
                        {{ stone.value }}
                    </div>

                    <div *ngSwitchCase="animation.left"
                         [@slideInRightOnEnter]>
                        {{ stone.value }}
                    </div>
                    <div *ngSwitchCase="animation.right"
                         [@slideInLeftOnEnter]>
                        {{ stone.value }}
                    </div>
                    <div *ngSwitchCase="animation.top"
                         [@slideInBottomOnEnter]>
                        {{ stone.value }}
                    </div>
                    <div *ngSwitchCase="animation.bottom"
                         [@slideInUpOnEnter]>
                        {{ stone.value }}
                    </div>

                    <div *ngSwitchDefault>
                        {{ stone.value }}
                    </div>
                </div>
            </ng-container>
            <ng-template #emptyStone>
                <div class="block">
                </div>
            </ng-template>
        </ng-container>
    </div>
</div>